<!-- BOTÓN PARA LANZAR EL MODAL-->
<button 
    type="button"
    class="btn btn-light"
    id="toggleEditarUsuario"
    (click)="modal.open(contenido)">
    
    <i class="fa-solid fa-pencil"></i>

</button>

<!--MODAL-->
<ng-template #contenido let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Edición de usuario</h5>
        <i class="fa-solid fa-xmark"
           (click)="modal.dismiss()"
        ></i>
    </div>
    <div class="modal-body">


    <form 
        class="add-form" 
        id="formul"
        #formDetailUser="ngForm"
        (ngSubmit)="onSubmit(formDetailUser)"
    >

    <div class="row" id="datos">
        <h6>Datos personales</h6>
        <div class="form-control">
            <label for="nombre">Nombre</label>
            <input 
                type="text" 
                name="nombre" 
                id="nombre" 
                placeholder="{{usuario.nombre}}"
                [(ngModel)]="nombre"
            />
        </div>
        <div class="form-control">
            <label for="apellido">Apellido</label>
            <input 
                type="text" 
                name="apellido" 
                id="apellido" 
                placeholder="{{usuario.apellido}}" 
                [(ngModel)]="apellido"
            />
        </div>
        <div class="form-control">
            <label for="titulo">Título</label>
            <input 
                type="text" 
                name="titulo" 
                id="titulo" 
                placeholder="{{usuario.titulo}}" 
                [(ngModel)]="titulo"
            />
        </div>
        <div class="form-control">
            <label for="descripcion">Descripción</label>
            <input 
                type="text" 
                name="descripcion" 
                id="descripcion" 
                placeholder="{{usuario.descripcion}}" 
                [(ngModel)]="descripcion"
            />
        </div>
        <div class="form-control">
            <label for="foto">Foto</label>
            <input
                type="text"
                name="foto"
                id="foto"
                placeholder="{{usuario.foto}}"
                [(ngModel)]="foto"
            />
        </div>
        <h6>Datos de contacto</h6>
        <div class="form-control">
            <label for="github">Github</label>
            <input
                type="text"
                name="github"
                id="github"
                placeholder="{{usuario.github}}"
                [(ngModel)]="github"
            />
        </div>
        <div class="form-control">
            <label for="linkedin">Linkedin</label>
            <input
                type="text"
                name="linkedin"
                id="linkedin"
                placeholder="{{usuario.linkedin}}"
                [(ngModel)]="linkedin"
            />
        </div>
        <div class="form-control">
            <label for="twitter">Twitter</label>
            <input
                type="text"
                name="twitter"
                id="twitter"
                placeholder="{{usuario.twitter}}"
                [(ngModel)]="twitter"
            />
        </div>
        <div class="form-control">
            <label for="telefono">Telefono</label>
            <input
                type="text"
                name="telefono"
                id="telefono"
                placeholder="{{usuario.telefono}}"
                [(ngModel)]="telefono"
            />
        </div>
        <h6>Inicio de sesión</h6>
        <div class="form-control">
            <label for="mail">Mail de usuario</label>
            <input
                type="text"
                name="mail"
                id="mail"
                placeholder="{{usuario.mail}}"
                [(ngModel)]="mail"
            />
        </div>
        <div class="form-control">
            <label for="password">Contraseña</label>
            <input
                type="password"
                name="password"
                id="password"
                placeholder="{{usuario.password}}"
                [(ngModel)]="password"
            />
        </div>
    </div>
        <div class="modal-footer">
            <button
                type="submit"
                class="btn btn-primary"
                (click)="modal.close()">Guardar</button>
        </div>
    </form>
    </div>
</ng-template>