<footer class="fixed-bottom">
  <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="navbar" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto wrapper" id="menu">
          <li class="nav-item">
            <a class="nav-link" 
              routerLink="/inicio"
              routerLinkActive="active-link">Principal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
              routerLink="/sobre-mi"
              routerLinkActive="active-link">Sobre mi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
              routerLink="/experiencia"
              routerLinkActive="active-link">Experiencia</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" 
                routerLink="/formacion"
                routerLinkActive="active-link">Formación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" 
                routerLink="/proyectos"
                routerLinkActive="active-link">Proyectos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" 
                routerLink="/skills"
                routerLinkActive="active-link">Habilidades</a>
            </li>
        </ul>
      </div>
    </nav>
</footer>