<section>
    <img
        src="../../../assets/BannerAP.png"
        alt="Portfolio S. Imhoff Anzor"
        id="banner"
    />
    <img
        src="../../../assets/logoSIA.png"
        alt="Logo Portfolio S. Imhoff Anzor"
        id="logoSIA"
    />
    <div class="presentacion">
        <h4>Hi! 
            <br>
            I work as a Full Stack Web Developer.
            <br>
            Join me looking at my work and 
            <br>
            different coding projects!
        </h4>
    </div>
</section>