<section>
    <img
        src="../../../assets/BannerAP.png"
        alt="Portfolio S. Imhoff Anzor"
        id="banner"
    />
    <img
        src="../../../assets/logoSIA.png"
        alt="Logo Portfolio S. Imhoff Anzor"
        id="logoSIA"
    />
    <div class="presentacion">
        <h4>¡Hola! 
            <br>
            Trabajo en el área del desarrollo web Full Stack.
            <br>
            ¡Te invito a que veas mi camino y 
            <br>
            trabajos en la programación!
        </h4>
    </div>
</section>