<div 
    class="item-trabajo"
    >
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <img 
                    src="{{trabajo.fotoLugar}}"
                    alt="Institución o afines"
                    class="foto-trabajo"
                />
            </div>
            <div class="col">
                <h5>{{trabajo.puesto}} || {{trabajo.lugar}}
                </h5>
                <p class="fechas">{{trabajo.fechaInicio}} - {{trabajo.fechaFinal}}</p>
                <p>{{trabajo.descripcion}}</p>
            </div>
            <div class="col-3">
                <div class="container">
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </div>
        </div>    
    </div>
    
</div>
