.item-trabajo{
    margin:2%;
    padding: 10px 20px;
    width:60%;
    border-bottom: solid lightslategray 0.5px;
}

.foto-trabajo{
    border-radius: 50%;
    width:80%;
    display:block;
}

.col-2{
    width:20%;
}

.col{
    width:70%;
    margin-right:0%;
}

.col-3{
    width:10%;
}

.fechas{
    font-size: 0.9rem;
}

p{
    font-style: italic;
}

i{
    cursor: pointer;
    color:rgb(200, 0, 0);
}