.titulo{
    width:100%;
    background-color:0,0,0,0;
    margin-top: 6%;
    padding:2%;
}
.titulo h1{
    font-family: 'LexendMedium';
    font-size:3.5rem;
    color:#21252a;
    letter-spacing: 1.7rem;
}

.formaciones {
    margin-top:3%;
}

.form{
    background-image: url('../../../assets/fondoExperiencia.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 4%;
}
