<div class="form">
    <div class="titulo">
        <h1>MI FORMACI<span>ÓN</span>
        </h1>
        <app-form-button
            texto="Agregar formación"
            (btnClick)="toggleAgregarForm()"
        ></app-form-button>
    </div>

    <div class="formaciones">
        <app-formacion-item
            *ngFor="let formacion of formaciones"
            [formacion] = "formacion"
            (onDeleteFormacion)="deleteFormacion(formacion)"
        ></app-formacion-item>
     
        </div>

</div>