@font-face {
    font-family: 'LexendMedium';
    src: url(../../../assets/LexendDeca-Medium.ttf);
}

.titulo{
    width:100%;
    background-color:0,0,0,0;
    margin-top: 6%;
    padding:2%;
}
.titulo h1{
    font-family: 'LexendMedium';
    text-align: center;
    font-size:3.5rem;
    color:#21252a;
    letter-spacing: 1.7rem;
}

.titulo span{
    color:white;
}
.estudios {
    margin-top:3%;
}

.form{
    background-image: url('../../../assets/fondoExperiencia.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100vh;
}
