.titulo{
    width:100%;
    background-color:0,0,0,0;
    margin-top: 6%;
    padding:2%;
}
.titulo h1{
    font-family: 'LexendMedium';
    text-align: center;
    font-size:3.4rem;
    color:#21252a;
    letter-spacing: 1.7rem;
}
.titulo span{
    color:white;
}
.trabajos {
    margin-top:3%;
}

.exp{
    background-image: url('../../../assets/fondoExperiencia.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 4%;
}
