@font-face {
    font-family: 'LexendMedium';
    src: url(../../../assets/LexendDeca-Medium.ttf);
}

#fondo{
    max-width:100%;
    position:fixed;
}

.titulo{
    width:100%;
    position:fixed;
    top: 33%;
    left:5%;
    background-color:0,0,0,0;
}
.titulo h1{
    font-family: 'LexendMedium';
    font-size:3.5rem;
    color:white;
    letter-spacing: 1.5rem;
    line-height:7rem;
    text-align:left;
}


