<!-- BOTÓN PARA LANZAR EL MODAL-->
<button 
    type="button"
    class="btn btn-light"
    id="toggleEditarSkill"
    (click)="modal.open(contenido)">
    
    <i class="fa-solid fa-pencil"></i>

</button>

<!--MODAL-->
<ng-template #contenido let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Complete all fields</h5>
        <i class="fa-solid fa-xmark"
           (click)="modal.dismiss()"
        ></i>
    </div>
    <div class="modal-body">


    <form 
        class="add-form" 
        id="formul"
        #formDetailUser="ngForm"
        (ngSubmit)="onSubmit(formDetailUser)"
    >
    <div class="form-control">
        <label for="nombre">Name</label>
        <input 
            type="text" 
            name="nombre" 
            id="nombre" 
            placeholder="Skill"
            [(ngModel)]="nombre"
        />
    </div>
    <div class="form-control">
        <label for="nivel">Level</label>
        <input 
            type="text" 
            name="nivel" 
            id="nivel" 
            placeholder="From 1 to 100" 
            [(ngModel)]="nivel"
        />
    </div>
    <div class="form-control">
        <label for="url">Image</label>
        <input 
            type="text" 
            name="url" 
            id="url" 
            placeholder="Picture that describes your skill" 
            [(ngModel)]="url"
        />
    </div>
        <div class="modal-footer">
            <button
                type="submit"
                class="btn btn-primary"
                (click)="modal.close()">Save</button>
        </div>
    </form>
    </div>
</ng-template>