.item-proyecto {
    margin:2%;
    width:30%;
    margin:auto;
    padding: 10px 20px;
    font-size:0.8rem;
}

.item-proyecto h5{
    font-size:1.5rem;
}

.item-proyecto:hover{
    width:50%;
    font-size:1.1rem;
}

.card-body{
    text-align: center;
}

.foto-proyecto{
    width:70%;
}

i{
    cursor: pointer;
    color:rgb(200, 0, 0);
    margin-bottom:3%;
}