.item-proyecto {
    margin:2%;
    width:40%;
    margin:auto;
    padding: 10px 20px;
    font-size:0.9rem;
}

.item-proyecto h5{
    font-size:1.5rem;
}

.card-body{
    text-align: center;
}

.foto-proyecto{
    width:70%;
}

.foto-proyecto:hover{
    width:100%;
}



i{
    cursor: pointer;
    color:rgb(200, 0, 0);
    margin-bottom:3%;
    font-size:1.2rem;
}

i:hover{
    font-size:1.7rem;
    margin-bottom:1.5%;
}