<!-- BOTÓN PARA LANZAR EL MODAL-->
<button 
    type="button"
    class="btn btn-light"
    id="toggleAgregarProy"
    (click)="modal.open(contenido)">
    
    Agregar proyecto

</button>

<!--MODAL-->
<ng-template #contenido let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Complete los campos</h5>
        <i class="fa-solid fa-xmark"
           (click)="modal.dismiss()"
        ></i>
    </div>
    <div class="modal-body">


    <form 
        class="add-form" 
        id="formul"
        (ngSubmit)="onSubmit()"
    >
        <div class="form-control">
            <label for="nombre">Nombre</label>
            <input 
                type="text" 
                name="nombre" 
                id="nombre" 
                placeholder="Nombre del proyecto"
                [(ngModel)]="nombre"
            />
        </div>
        <div class="form-control">
            <label for="fecha">Fecha</label>
            <input 
                type="text" 
                name="fecha" 
                id="fecha" 
                placeholder="Fecha en la que se llevó a cabo" 
                [(ngModel)]="fecha"
            />
        </div>
        <div class="form-control">
            <label for="descripcion">Descripción</label>
            <input 
                type="text" 
                name="descripcion" 
                id="descripcion" 
                placeholder="Breve descripción del proyecto" 
                [(ngModel)]="descripcion"
            />
        </div>
        <div class="form-control">
            <label for="fotoProyecto">Imagen</label>
            <input 
                type="text" 
                name="fotoProyecto" 
                id="fotoProyecto" 
                placeholder="Foto o imagen del proyecto" 
                [(ngModel)]="fotoProyecto"
            />
        </div>
        <div class="form-control">
            <label for="url">Enlace</label>
            <input 
                type="text" 
                name="url" 
                id="url" 
                placeholder="Enlace en donde se pueda ver el proyecto" 
                [(ngModel)]="url"
            />
        </div>
        <div class="modal-footer">
            <button
                type="submit"
                class="btn btn-primary"
                (click)="modal.close()">Guardar</button>
        </div>
    </form>
    </div>
</ng-template>