<!-- BOTÓN PARA LANZAR EL MODAL-->
<button 
    type="button"
    class="btn btn-light"
    id="toggleAgregarProy"
    (click)="modal.open(contenido)">
    
    
    Add project

</button>

<!--MODAL-->
<ng-template #contenido let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Complete all fields</h5>
        <i class="fa-solid fa-xmark"
           (click)="modal.dismiss()"
        ></i>
    </div>
    <div class="modal-body">


    <form 
        class="add-form" 
        id="formul"
        #formDetailUser="ngForm"
        (ngSubmit)="onSubmit(formDetailUser)"
    >
        <div class="form-control">
            <label for="nombre">Name</label>
            <input 
                type="text" 
                name="nombre" 
                id="nombre" 
                placeholder="What's the name of your project?"
                [(ngModel)]="nombre"
            />
        </div>
        <div class="form-control">
            <label for="fecha">Date</label>
            <input 
                type="text" 
                name="fecha" 
                id="fecha" 
                placeholder="When did you work on it?" 
                [(ngModel)]="fecha"
            />
        </div>
        <div class="form-control">
            <label for="descripcion">Description</label>
            <input 
                type="text" 
                name="descripcion" 
                id="descripcion" 
                placeholder="Can you describe your project?" 
                [(ngModel)]="descripcion"
            />
        </div>
        <div class="form-control">
            <label for="fotoProyecto">Image</label>
            <input 
                type="text" 
                name="fotoProyecto" 
                id="fotoProyecto" 
                placeholder="Is there a picture of your project?" 
                [(ngModel)]="fotoProyecto"
            />
        </div>
        <div class="form-control">
            <label for="url">Link</label>
            <input 
                type="text" 
                name="url" 
                id="url" 
                placeholder="Which is your project's Github link?" 
                [(ngModel)]="url"
            />
        </div>
        <div class="modal-footer">
            <button
                type="submit"
                class="btn btn-primary"
                (click)="modal.close()">Save</button>
        </div>
    </form>

    </div>
</ng-template>

