<header class="fixed-top">
<nav class="navbar navbar-expand-lg navbar-light" id="header">
    <img src="../../../assets/logo-AP.png">
    <div class="collapse navbar-collapse" id="myNavbarToggler10">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" 
                href="https://www.linkedin.com/in/sharon-imhoff-anzor-39bab5209/"
                target="_blank">
                <i class="fab fa-linkedin"></i>
            </a></li>
            <li class="nav-item">
                <a class="nav-link" 
                href="https://twitter.com/M45Despertando"
                target="_blank"
                >
                <i class="fab fa-twitter"></i>
            </a></li>
            <li class="nav-item">
                <a class="nav-link" 
                href="https://github.com/simhoffanzor"
                target="_blank">
                <i class="fab fa-github"></i>
            </a></li>
            <li class="nav-item">
                <a class="nav-link" 
                href="https://wa.me/5492804294671"
                target="_blank">
                <i class="fab fa-whatsapp"></i>
            </a></li>
        </ul>
        <ul class="navbar-nav sm-icons mr-0">
            <app-button 
                btntext="Login"
                (btnClick)="toggleLogin()"  
            >
            </app-button>
        </ul>
    </div>
</nav>
</header>