<header 
    class="fixed-top"
>
<nav class="navbar navbar-expand-lg navbar-light" id="header">
    <img src="../../../assets/logo-AP.png">


    <div class="collapse navbar-collapse" id="myNavbarToggler10">
        
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" 
                href="{{usuario.linkedin}}"
                target="_blank">
                <i class="fab fa-linkedin"></i>
            </a></li>
            <li class="nav-item">
                <a class="nav-link" 
                href="{{usuario.twitter}}"
                target="_blank"
                >
                <i class="fab fa-twitter"></i>
            </a></li>
            <li class="nav-item">
                <a class="nav-link" 
                href="{{usuario.github}}"
                target="_blank">
                <i class="fab fa-github"></i>
            </a></li>
            <li class="nav-item">
                <a class="nav-link" 
                href="https://wa.me/{{usuario.telefono}}"
                target="_blank">
                <i class="fab fa-whatsapp"></i>
            </a></li>
        </ul>
    -->

        <ul class="navbar-nav sm-icons mr-0">
            <a
                class="nav-link" 
                routerLink="/login">
            <app-button 
                btntext="Login"
            >
            </app-button>
            </a>
        </ul>
    </div>
</nav>
</header>