.item-usuario {
    position:fixed;
    margin-top:7%;
    margin-left:40%;
    margin-right:5%;
}

.fotoPerfil{
    border-radius: 50%;
    width:30%;
    margin:auto;
    margin-bottom:3%;
    margin-top:3%;
    display:block;
}

.row-2{
    text-align: center;
    width:80%;
    margin:auto;
    line-height: 2rem;
}

h3{
    text-align: center;
    margin-top:2%;
}