.item-usuario {
    position:fixed;
    margin-top:18%;
    margin-left:40%;
    margin-right:5%;
}

p{
    font-size: 1.1rem;
    line-height: 2.5rem;
}

.fotoPerfil{
    border-radius: 50%;
    width:100%;
    margin-bottom:5%;
    margin-right:5%;
    display:block;
    float:left;
    
}

.col-2{
    margin-top:5%;
    width:40%;
}

.col{
    width:60%;
}