<div 
    class="item-usuario"
    >
    <div class="container-fluid">
        <div class="row">
            <app-modal-editar-usu
                *ngIf="this.logueado"
                [usuario]="this.usuario"
            ></app-modal-editar-usu>
            <h4>{{usuario.nombre}} {{usuario.apellido}}</h4>
            <img 
                src="{{usuario.foto}}" 
                alt="Foto de Perfil"
                class="fotoPerfil"
            />
        </div>
        <div class="row-2">
            <h3>{{usuario.titulo}}</h3>
            <p>
            {{usuario.descripcion}}
            </p>
        </div>
        <div class="row-3">
            
        </div>
    </div>
</div>
