<div 
    class="item-usuario"
    >
    <div class="container-fluid">
        <div class="row">
            <app-modal-editar-usu
                [usuario]="this.usuario"
            ></app-modal-editar-usu>
            <img 
                src="{{usuario.foto}}" 
                alt="Foto de Perfil"
                class="fotoPerfil"
            />
        </div>
        <div class="row-2">
            <h4>Mi nombre es {{usuario.nombre}} {{usuario.apellido}}.</h4>
            <p>
            {{usuario.descripcion}}
            </p>
        </div>
    </div>
</div>
