#toggleEditarExp{
    display:flex;
    margin:auto;
    margin-top: 2%;
    border-color:black;
}

#toggleEditarExp:hover{
    background-color: black;
    color:white;
    border-color: grey;
}

i{
    cursor:pointer;
    margin-right:2%;
}

label, input{
    display:block;
}

input{
    margin-top:2%;
    width:100%;
    margin-bottom:1%;
}

div {
    border:none;
}