<!-- BOTÓN PARA LANZAR EL MODAL-->
<button 
    type="button"
    class="btn btn-light"
    id="toggleEditarExp"
    (click)="modal.open(contenido)">
    
    <i class="fa-solid fa-pencil"></i>

</button>

<!--MODAL-->
<ng-template #contenido let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Complete all fields</h5>
        <i class="fa-solid fa-xmark"
           (click)="modal.dismiss()"
        ></i>
    </div>
    <div class="modal-body">


    <form 
        class="add-form" 
        id="formul"
        #formDetailUser="ngForm"
        (ngSubmit)="onSubmit(formDetailUser)"
    >
    <div class="form-control">
        <label for="puesto">Job</label>
        <input 
            type="text" 
            name="puesto" 
            id="puesto" 
            placeholder="What was/is the job?"
            [(ngModel)]="puesto"
        />
    </div>
    <div class="form-control">
        <label for="lugar">Place</label>
        <input 
            type="text" 
            name="lugar" 
            id="lugar" 
            placeholder="Where did you work?" 
            [(ngModel)]="lugar"
        />
    </div>
    <div class="form-control">
        <label for="fechaInicio">Start date</label>
        <input 
            type="text" 
            name="fechaInicio" 
            id="fechaInicio" 
            placeholder="When did you start working there?" 
            [(ngModel)]="fechaInicio"
        />
    </div>
    <div class="form-control">
        <label for="fechaFinal">End date</label>
        <input 
            type="text" 
            name="fechaFinal" 
            id="fechaFinal" 
            placeholder="When did you stop working there? (Could be 'present')" 
            [(ngModel)]="fechaFinal"
        />
    </div>
    <div class="form-control">
        <label for="descripcion">Description</label>
        <input 
            type="text" 
            name="descripcion" 
            id="descripcion" 
            placeholder="How can you describe your job?" 
            [(ngModel)]="descripcion"
        />
    </div>
    <div class="form-control">
        <label for="fotoLugar">Image</label>
        <input 
            type="text" 
            name="fotoLugar" 
            id="fotoLugar" 
            placeholder="Is there an image that represents the place you worked on?" 
            [(ngModel)]="fotoLugar"
        />
    </div>
        <div class="modal-footer">
            <button
                type="submit"
                class="btn btn-primary"
                (click)="modal.close()">Save</button>
        </div>
    </form>
    </div>
</ng-template>