<div 
    class="item-formacion"
    >
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <img 
                    src="{{formacion.fotoEstudio}}"
                    alt="Logo de la institución"
                    class="foto-estudio"
                />
            </div>
            <div class="col">
                <h5>{{formacion.titulo}} || {{formacion.institucion}}</h5>
                <p class="fechas">{{formacion.periodo}}</p>
                <a 
                    *ngIf="formacion.certificado"
                    href="{{formacion.certificado}}"
                    target="_blank"
                >Certificado</a>
            </div>
            <div class="col-3">
                <i class="fa-solid fa-trash-can"
                (click)="onClick()"></i>
            </div>
        </div>    
    </div>
</div>
