@media screen and (min-width: 520px){
    .item-formacion{
        margin:2%;
        padding: 10px 20px;
        width:60%;
        border-bottom: solid lightslategray 0.5px;
    }
    
    .foto-estudio{
        border-radius: 50%;
        width:80%;
        display:block;
    }
    
    .col-2{
        width:20%;
    }
    
    .col{
        width:60%;
        margin-right:0%;
    }
    
    .col-3{
        width:10%;
    }
    .col-3{
        width:10%;
    }
    
    .col-4{
        width:10%;
    }
    a{
        color:black;
    }
    
    .fechas{
        font-size: 0.9rem;
        font-style: italic;
    }
    
    button{
        display:flex;
        margin:auto;
        margin-top: 2%;
        border-color:black;
    }
    
    button:hover{
        background-color: black;
        color:white;
        border-color: grey;
    }
}

@media screen and (max-width: 490px){
    .item-formacion{
        margin:2%;
        padding: 10px 20px;
        width:100%;
        border-bottom: solid lightslategray 0.5px;
    }
    
    .foto-estudio{
        border-radius: 50%;
        width:100%;
        display:block;
    }
    
    .col-2{
        width:20%;
    }
    
    .col{
        width:50%;
        margin-right:0%;
    }
    
    .col-3{
        width:15%;
    }
    .col-3{
        width:15%;
    }
    
    .col-4{
        width:10%;
    }
    a{
        color:black;
    }
    
    h5{
        font-size: 0.9rem;
    }
    .fechas{
        font-size: 0.8rem;
        font-style: italic;
        text-align: center;
    }
    
    button{
        display:flex;
        margin:auto;
        margin-top: 2%;
        border-color:black;
    }
    
    button:hover{
        background-color: black;
        color:white;
        border-color: grey;
    }
}