<div 
    class="item-formacion"
    >
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <img 
                    src="{{formacion.fotoEstudio}}"
                    alt="Logo de la institución"
                    class="foto-estudio"
                />
            </div>
            <div class="col">
                <h5>{{formacion.titulo}} || {{formacion.institucion}}</h5>
                <p class="fechas">{{formacion.periodo}}</p>
                <a 
                    *ngIf="formacion.certificado"
                    href="{{formacion.certificado}}"
                    target="_blank"
                >Certificate</a>
            </div>
            <div class="col-3">
                <!-- BOTÓN PARA ELIMINAR-->
                <button 
                    *ngIf="this.logueado"
                    type="button"
                    class="btn btn-light"
                    id="toggleAgregarFor"
                    (click)="onClick()">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </div>
            <div class="col-4">
                <!--EDITAR EXPERIENCIA-->
                <app-modal-editar-for
                *ngIf="this.logueado"
                [formacion]="this.formacion"
                ></app-modal-editar-for>
            </div>
        </div>    
    </div>
</div>
