<!--BOTÓN PARA CERRAR SESIÓN-->
<button
    *ngIf="inicio"
    type="button"
    class="btn btn-light"
    id="toggleLogin"
    (click)="cerrarSesion()"
>
    Log Out
</button>

<!-- BOTÓN PARA INICIAR SESIÓN-->
<button 
    *ngIf="this.inicio === false"
    type="button"
    class="btn btn-light"
    id="toggleLogin"
    (click)="modal.open(contenido)">

    Log In

</button>

<!--MODAL-->
<ng-template #contenido let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Complete all fields</h5>
        <i class="fa-solid fa-xmark"
           (click)="modal.dismiss()"
        ></i>
    </div>
    <div class="modal-body">


    <form 
        class="add-form" 
        id="formul"
        #formDetailUser="ngForm"
        (ngSubmit)="onSubmit(formDetailUser)"
    >
        <div class="form-control">
            <label for="user">E-mail</label>
            <input 
                type="text" 
                name="user" 
                id="user" 
                placeholder="E-mail"
                [(ngModel)]="user"
            />
        </div>
        <div class="form-control">
            <label for="password">Password</label>
            <input 
                type="password" 
                name="password" 
                id="password" 
                placeholder="Password" 
                [(ngModel)]="password"
            />
        </div>
        <div class="modal-footer">
            <button
                type="submit"
                class="btn btn-primary"
                (click)="modal.close()">LOGIN</button>
        </div>
    </form>
    </div>
</ng-template>